.__space, .__dimbel{
    background-color: #ffffff !important;
}
.__diff, .__heart{
    color: #dc4734 !important;
}
.__spec, .__dimbel h6, .__join{
    color: #333333 !important;
}
.__parent{
    background-color: transparent !important;
    color: #000000;
}
.__divide{
    background-color: #44444438;
}
.__ban{
    background-color: #444444b8;
}
.__dimbel p{
    color: #666666;
}